html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(7, 2, 2);
}

.box { 
    display: flex;
    width: 400px;
    flex-direction: column;
    border: 2px white solid;
    border-radius: 5px;
}

.top {
    background-image: linear-gradient(#18244A, #3B69E1);
    text-align: center;
    flex-flow: column wrap;
    flex-shrink: 0;

}

.bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(#25dd3d, #a51fce);
}

.bigNum {
    font-size: 40px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}